div.dailySegment {
	width: 450px;
	height: 402px;
	background-position: -7px 0;
	float: left;
	cursor: pointer;
	background-size: 1350px;
	margin:0 5px;
}

div.dailySegment:first-child, div.dailySegment:last-child {
	margin:0;
}

div.dailySegmentLabel {
	background: rgba(255,102,51,0.8);
	color: #FFF;
    padding: 15px;
    position: relative;
    top: 330px;
    height: 45px;
    width: 420px;
	font-size: 32px;
	font-family: sans-serif;
}

.portraitContainer {
	width: 920px;
	margin: 0 auto;
}

body {
	margin: 0;
	padding: 0;
}

div.segment {
	width: 900px;
	height: 801px;
	background-size: 2700px;
}

#segment1 {
	background-position: -15px 0;
}

#segment2 {
	background-position: -900px 0;
}

#segment3 {
	background-position: -1785px 0;
}

#comicStrip {
	width: 900px;
	margin: 0 auto;
}

.bottomBarIcon {
	position: fixed;
	resize: none;
	visibility: hidden;
}

#appIcon {
	bottom: 0;
	left: 0;
}

#calendarIcon {
	bottom: 275px;
	left: 10px;
}

#favoritesIcon {
	bottom: 175px;
	left: 200px;
}

#favorited {
	bottom: 20px;
	right: 20px;
}

.weekdaySegment {
	width: 1800px;
	height: 534px;
	background-size: 1800px 534px;
	margin-top:50px;
}

.landscapeContainer {
	width: 1840px;
	margin: 0 auto;
}

header {
	position: fixed;
	top:0;
	height: 100px;
	background: url('../images/headerBg.png');
	width: 100%;
	visibility: hidden;
}

header p {
	text-align: center;
	margin-top: 30px;
}

header a {
	color: #FFF;
	font-family: Calibri, helvetica, sans-serif;
	text-decoration: none;
	font-size: 28px;
	padding: 10px 25px;
	border: 3px solid #FFF;
}

header a:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-radius-topleft: 10px;
	-webkit-border-radius-bottomleft: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	margin-right: -4px;
}

header a:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-radius-topright: 10px;
	-webkit-border-radius-bottomright: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	margin-left: -4px;
}

header a.selected {
	background: rgba(255,102,51,0.8);
}